<%- include('../partials/header'); -%>
    <div>
        <h3>Blog Articles</h3>
        <a href="/articles/new">New Article</a>
        <% if(user){ %>
            <a href="/logout">Logout</a>
            <p>logged in as <b> <%= user.email %> </b></p>
        <% } else { %>
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a> 
        <% } %>

        <% articles.forEach(article => { %>
            <div class="article">
                <h3><%= article.title %></h3>
                <p><%= article.description %></p>
                <span><%= article.createdAt.toDateString() %></span>
                <br><br>
                <a href="articles/<%= article.slug %>">Read More</a>
               
                <% if(user){ %>
                    <a href="articles/edit/<%= article.id %>">Edit</a>

                    <form style="display:inline-block" action="/articles/<%= article.id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                <% } %>
            </div>
        <% }); %>
    </div>

<%- include('../partials/footer'); -%>
