<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= article.title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/highlight.min.js" integrity="sha512-8DnqlIcZT5O7kn55WxWs0PnFyhwCqVEnsDpyHqcadSNtP0eqae406JmIoo2cXT5A42jnlcCw013sdkmK3mEJcQ==" crossorigin="anonymous"></script>    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/styles/atom-one-dark.min.css" integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ==" crossorigin="anonymous" />
    <style>
        img{
            width:100% !important;
            height: auto !important;
        }
        .comments{
            margin-left: 10px;
        }

        .comment{
            background-color: honeydew;
            padding: 5px;
            margin: 5px;
        }
        .comment-name {
            font-size: 15px;
            text-decoration: none;
        }
        .comment-text{
            font-size: 15px;
            padding-left: 20px;
        }
        .comment-date{
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div style="margin-left: auto; margin-right: auto; max-width: 700px">
        <a href="/">All articles</a>
        <a href="/articles/edit/<%= article.slug %>">Edit</a>
        <% if(user){ %>
            <a href="/logout">Logout</a>
            <p>logged in as <b> <%= user.name %> </b></p>
        <% } %>

        <h1><%= article.title %></h1>
        <p style="font-style: italic"><%= article.description %></p>
        <span><%= article.date.toDateString() %></span><br><br>
       
        <div><%- article.markdown %></div><br><br>
        <div><em>Article by <%- article.author.info.name %></em></div>  
        <br><br><hr><br>
        <h3>Comments</h3>
        <div class="comments">
            <% article.comments.forEach(comment => { %>
                <div class="comment">
                    <a href="/users/<%= comment.user.username %>" class="comment-name"><%= comment.user.name %></a>
                    <p class="comment-date"><%= comment.createdAt.toDateString()%></p>
                    <p class="comment-text"><%= comment.comment%></p>
                    <% if(user && comment.user.username == user.username){ %>
                        <form style="display:inline-block" action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    <% } %>
                </div>
            <% }); %>
        </div>

        <h3>Add a comment</h3>
        <% if(user){ %>
            <form action="/comments" method="POST">
                <input type="hidden" name="article" value="<%= article._id %>">
                
                <input type="hidden" name="user" value="<%= user._id %>">
                <textarea name="comment" id="comment" cols="90" rows="8" placeholder="Start typing here..."></textarea>
                <input type="submit" name="submit" value="submit">
            </form>
        <% } else { %>
            <h5>Please login to comment on this article</h5>
            <a href="/login">Login</a>
        <% } %>
    </div><br><br>
  
</body>

</html>